body {
  font-family: sans-serif;
  padding: 2rem;
}


#pokemon-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolommen */
  gap: 20px; /* ruimte tussen de kaarten */
  padding: 20px;
}

.pokemon-card {
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(42, 202, 255, 0.2);
  text-align: center;
  transition: 0.3s ease; /*https://stackoverflow.com/questions/57544099/transition-transform-ease-some-elements-easing-in-others-arent*/
  cursor: pointer;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

#pokemon-detail {
  background-color: #f0f8ff;
  padding: 20px;
  margin-top: 40px;
  border-radius: 12px;
}

#pokemon-detail img {
  max-width: 150px;
  margin-bottom: 10px;
}

.type-badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* Kleur per type */
.normal { background-color: rgb(205, 205, 148); }
.fire { background-color: orange; }
.water { background-color: rgb(117, 201, 229); }
.grass { background-color: rgb(124, 172, 124); }
.electric { background-color: rgb(213, 213, 82); }
.ice { background-color: rgb(99, 196, 209); }
.fighting { background-color: red; }
.poison { background-color: rgb(144, 38, 144); }
.ground { background-color: rgb(100, 41, 41); }
.flying { background-color: rgb(255, 187, 255); }
.psychic { background-color: #F85888; }
.bug { background-color: rgb(140, 249, 140); }
.rock { background-color: rgb(95, 82, 82); }
.ghost { background-color: rgb(128, 126, 128); }
.dragon { background-color: rgb(105, 0, 105); }
.dark { background-color: rgb(57, 26, 104); }
.steel { background-color: gray; }
.fairy { background-color: rosybrown; }


.favbutton {
  cursor: pointer;
  margin-top: 5px;
}

.favbutton.active {
  fill: gold;
}


#favorieten-popup {
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #22ca00;
  border-radius: 8px;
  padding: 10px;
  z-index: 10;
}

#favorieten-popup.hidden {
  display: none;
}

#favorieten-popup ul {
  padding-left: 0;
}

#favorieten-popup li {
  margin-bottom: 5px;
  font-size: 1rem;
}


.top-bar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid black;
}

.fav-container {
  position: relative;
  display: flex;
}

#toggle-fav-list {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;

  cursor: pointer;
  font-weight: bold;
}

#zoekbalk {
  position: relative;
  width: 280px;
  margin: 0 auto 20px auto;
}


#zoekinput {
  width: 100%;
  padding: 7px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  box-sizing: border-box;
}

#zoeksuggesties {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(193, 193, 193);
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  width: 100%;
}

#zoeksuggesties li {
  padding: 7px 10px;
  cursor: pointer;
  font-size: 0.95rem;
}

#zoeksuggesties li:hover {
  background-color: #f3f3f3;
}
